.darkorange { color: darkorange; }
.orange { color: orange; }
.gold { color: gold; }

.darkgray { color: darkgray; }
.silver { color: silver; }
.lightgray { color: lightgray; }
.mistyrose { color: mistyrose; }
.gainsboro { color: gainsboro; }
.lavender { color: lavender; }